@if (User == null || User.Identity == null || User.Identity.IsAuthenticated)
{
    var pic = "/images/avatar_" + User?.Identity?.Name + ".png";

    <form method="post" class="form-inline" asp-page="/Account/Logout">
    Welcome @User?.Identity?.Name
    <img width="35" height="35" src="@pic" class="rounded-circle" />
    <input type="submit" value="Logout" class="btn btn-link text-decoration-none text-black">
</form>
}
else
{
    <a asp-page="/Account/Login" class="btn btn-link text-decoration-none text-black">Login</a>
    <a asp-page="/Account/Register" class="btn btn-link text-decoration-none text-black">Register</a>
}