@if (User == null || User.Identity == null || User.Identity.IsAuthenticated)
{
    <form method="post" class="form-inline" asp-page="/Account/Logout">
    Welcome @User?.Identity?.Name
    <input type="submit" value="Logout" class="btn btn-link text-decoration-none text-black">
</form>
}
else
{
    <a asp-page="/Account/Login" class="btn btn-link text-decoration-none text-black">Login</a>
    <a asp-page="/Account/Register" class="btn btn-link text-decoration-none text-black">Register</a>
}