@page
@model LoginModel
@{
    ViewData["Titile"] = "Login";
}

<div class="row">
    <div class=" d-flex justify-content-center">
        <div class="col-6 p-4 border" style="background-color: rgb(200, 196, 196); border-radius:0.8rem">
            <form method="post">

                <div class=" mb-3 row">
                    <div class="col-3">
                        <label asp-for="Input.UserName" class=" form-label"></label>
                    </div>
                    <div class="col">
                        <input type="text" asp-for="Input.UserName" class=" form-control">
                        <span asp-validation-for="Input.UserName" class=" text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row ">
                    <div class="col-3">
                        <label asp-for="Input.Password" class=" form-label"></label>
                    </div>
                    <div class=" col">
                        <input asp-for="Input.Password" class=" form-control">
                        <span class=" text-danger" asp-validation-for="Input.Password"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-3"> </div>
                    <div class="col">
                        <div class="d-flex justify-content-between">
                            <div class=" form-check">
                                <input type="checkbox" asp-for="Input.RememberMe" class=" form-check-input">
                                <label asp-for="Input.RememberMe" class=" ml-2 form-check-label"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-between">
                            <input type="submit" value="Login" class="btn btn-info fs-6 form-control mx-1">
                            <input type="button" value="Cancel" class="btn btn-danger fs-6 form-control mx-1">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>