@page
@model StepLogin
@{
    ViewData["Title"] = "Login";
}


<div class="row">
    <div class=" d-flex justify-content-center">
        <div class="col-6 p-4 border" style="background-color: rgb(231, 230, 230); border-radius:0.8rem">
            <form id="regForm" method="post">

                <h3>Register:</h3>

                <!-- One "tab" for each step in the form: -->

                <div class="mb-3 row tab">
                    <div class="col-3">
                        <label asp-for="Input.FirstName" class=" form-label"></label>
                    </div>
                    <div class="clo">
                        <input type="text" asp-for="Input.FirstName" class=" form-control" />
                        <span asp-validation-for="Input.FirstName" class=" text-danger"></span>
                    </div>

                    <input type="text" class=" visually-hidden" id="1" value="@TempData["Error"]" />
                </div>

                <div class=" mb-3 row tab">
                    <div class="col-3">
                        <label asp-for="Input2.LastName" class=" form-label"></label>
                    </div>
                    <div class="clo">
                        <input type="text" value="Ray" asp-for="Input2.LastName" class=" form-control" />
                        <span asp-validation-for="Input2.LastName" class=" text-danger"></span>
                    </div>

                    <input type="text" class=" visually-hidden" id="2" value="@TempData["Error"]" />
                </div>

                <div class=" row">
                    <div class="col-3">
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-info fs-6 px-3 mx-1" id="prevBtn"
                                onclick="nextPrev(-1)">Previous</button>
                            <button id="nextBtn" class="btn btn-danger fs-6 px-3 mx-1"
                                onclick="nextPrev(1)">Next</button>
                        </div>
                    </div>
                </div>


                <!-- Circles which indicates the steps of the form: -->
                <div class="row mb-0">
                    <div class=" d-flex justify-content-center mt-4 text-center">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/loginform.js"></script>
}